extends layout

block content
	- var tags = env.helpers.getAllTags();
	- var tagsSorted = _.sortBy(tags, function (item){ return item})
	section.tags
		h2 Tags
		ul
			- for(var tag in tagsSorted)
				- var total = env.helpers.getArticlesByTag(contents, tagsSorted[tag]).length
				li
					a(href='tag/' + tagsSorted[tag] + '/1')= tagsSorted[tag] + ' (' + total + ')'
block prepend footer
	div.nav
		if prevPage
			a(href=prevPage.url) « Новое
		a(href='/archive.html') Архив
		a(href='/tags.html') Теги
		if nextPage
			a(href=nextPage.url) Старое »